html{
    font-size: 32px;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    user-select: none;
    outline: none;
}

body{
    margin: 0 auto;
    width: 100%;
}


table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    border-collapse: collapse;
}

table,
td {
    border: 1px solid black;
}

td{
    padding:7px ;
}
