*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    user-select: none;
    outline: none;
}

body{
    text-align: center;
}

div{
    width: 90%;
    margin: 0 auto;
}


img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    border: 1px solid #000000;
}